@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');

:root {
    --brand-color: #f0765e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {

    font-family: "Lato", sans-serif;
    font-size: 18px;
    overflow-x: hidden;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    margin: 0;
    font-family: "Inter", sans-serif;
}

a {
    text-decoration: none;
}

p,
ul {
    margin: 0;
    padding: 0;
}

.section-title {
    margin: 30px 0;
    text-align: center;
}

.section-title h2 {
    font-size: 44px;
    font-weight: 700;
    margin-bottom: 15px;
    color: #1d1d1d;
}

.section-title p {
    font-size: 16px;
    color: #848484;
}

.main-header {
    background-color: #1d1d1d;
}

.navbar-nav .nav-item .nav-link.active {
    color: var(--brand-color);
}

.navbar-nav .nav-item .nav-link {
    font-size: 14px;
    color: #fff;
    font-weight: 600;
    transition: all .3s ease-in;
}

.navbar-nav .nav-item .nav-link:hover {
    color: var(--brand-color);
}

.navbar .navbar-brand img {
    width: 180px;
}

.hero-section {
    background-image: linear-gradient(to bottom, #000000b4, #0000009f), url(./assets/img/3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 142px);
}

.hero-content h1 {
    font-size: 68px;
    line-height: 72px;
    color: var(--brand-color);
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
}

.hero-content h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 42px;
    color: #fff;
    text-align: center;

}

.choose-us-section {
    padding: 50px 0;
}

.choose-us-box {
    padding: 15px;
    border: 1px solid var(--brand-color);
    border-radius: 6px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: pointer;
    transition: all .3s ease-in;
}

.choose-us-box:hover {
    background-color: var(--brand-color);
}

.choose-us-box:hover .choose-us-icon {
    background-color: #fff;
}

.choose-us-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 15px;
    background-color: var(--brand-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    transition: all .3s ease-in;

}

.choose-us-icon svg {
    width: 24px;
}

.choose-us-box:hover svg {
    color: #f0765e;
}

.choose-us-box h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #1d1d1d;
    transition: all .3s ease-in;

}

.choose-us-box:hover h3 {
    color: #fff;
}

.choose-us-box p {
    font-size: 14px;
    color: #848484;
    line-height: 24px;
    transition: all .3s ease-in;

}

.choose-us-box:hover p {
    color: #fff;
}

.choose-us-section .row {
    padding-top: 15px;
}

.choose-us-section .row .col-md-3 {
    margin-bottom: 15px;
}

.wlc-section {
    padding: 50px 0;
}

.wlc-imgs {
    margin-bottom: 15px;
}

.wlc-imgs img {
    width: 100%;
    height: auto;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.wlc-content {
    padding: 20px;
    margin-bottom: 20px;
}

.wlc-content h3 {
    font-size: 28px;
    color: var(--brand-color);
    font-weight: 700;
    margin-bottom: 15px;
}

.wlc-content p {
    font-size: 14px;
    color: #848484;
    line-height: 24px;

}

.services-section {
    padding: 50px 0;
}

.services-section .row {
    padding-top: 30px;
}

.services-section .row .col-md-3 {
    margin-bottom: 15px;
}

.services-box {
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    height: 100%;

}

.services-icon h4 {
    font-size: 60px;
    font-weight: 500;
    margin-bottom: 10px;
    color: transparent;
    -webkit-text-stroke: 1px #f0765e;
    font-family: "Teko", sans-serif;
}


.services-box h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #1d1d1d;
    transition: all .3s ease-in;

}

.services-box p {
    font-size: 14px;
    color: #848484;
    line-height: 24px;
    transition: all .3s ease-in;

}

.contact-section {
    padding: 50px 0;
}

.contact-section .row {
    padding-top: 30px;
}

.contact-box {
    padding: 20px;
}

.contact-box h2 {
    font-size: 34px;
    color: #1d1d1d;
    font-weight: 700;
    margin-bottom: 20px;
}

.contact-box-content {
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    color: #f0765e;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15px;
    text-align: center;
}

.contact-box-content svg {
    width: 30px;
}

.contact-box-content span {
    font-size: 18px;
    font-weight: 500;
    color: #848484;
}

.content-form {
    padding: 30px 40px;
    border-radius: 0 40px 0 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    background-color: #f0765e;
    width: 75%;
    margin: 0 0 0 auto;
}

.content-form .form-input {
    margin-bottom: 20px;
}

.content-form .form-input input,
.content-form .form-input textarea {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    padding: 10px 15px;
    outline: none;
    width: 100%;
    color: #fff;

}

.content-form .form-input button {
    font-size: 16px;
    font-weight: 500;
    padding: 8px 35px;
    border: 1px solid #1e1e1e;
    border: 1px solid transparent;
    outline: none;
    border-radius: 40px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: all .3s ease-in;

}

.content-form .form-input button:hover {
    border-color: #fff;
    background-color: transparent;
    color: #fff;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #fff;
}

.error-message {
    color: rgb(87, 54, 54);
    display: none;
}

.footer-box img {
    width: 200px;
}

.footer-box ul {
    list-style: none;
}

footer {
    background-color: #111;
    padding: 50px 0;
}

@media only screen and (max-width: 600px) and (min-width: 300px) {
    .navbar-nav .nav-item .nav-link {
        color: #848484;
    }

    .hero-content h1 {
        font-size: 32px;
        line-height: 34px;
    }

    .hero-content h2 {
        font-size: 20px;
        line-height: 24px;
    }

    .hero-section {
        height: auto;
        padding: 90px 0;
    }

    .section-title h2 {
        font-size: 24px;
    }

    .section-title p {
        font-size: 13px;
    }

    .wlc-content {
        text-align: center;
    }

    .wlc-content h3 {
        font-size: 22px;
    }

    .wlc-content p {
        font-size: 13px;
    }

    .content-form {
        width: 100%;
        padding: 30px;
    }

    .contact-box {
        margin-top: 15px;
    }

    .contact-box h2 {
        font-size: 23px;
    }

    .footer-box p {
        font-size: 14px;
    }
}